.show-content {
    visibility: visible;
    padding: 0 50px 0;
    
}
.hide-content {
    visibility: hidden;
    
}

.content-wrapper {
    background-color:rgb(184, 205, 243);
    padding: 42px;
    margin-top: 20px;
    border-radius: 7px;
}

.bold-text {
    color:darkblue;
}