
// $blue:cornflowerblue;


body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}
.backgroundTop {
    border-top: 1em solid darkblue;
    border-bottom: 1em solid darkblue;
    width: 100vw;
    height: 400px;
    background-color:cornflowerblue;
    color: white;
}
.madLibHeading {
    text-align: center;
   
    h1 {
        font-size: 2rem;
        
        
    }
}

.madLibTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgrey;
}    

h2 {
    padding-right: 5px;

}

h3 {
    padding-left: 5px;
}


.direction-wrapper {
    display: flex;
    justify-content: center;
}