@import './madlib_form.scss';
@import './header.scss';


body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    background-color: rgb(216, 238, 245);
}
.backgroundTop {
    border-top: 1em solid darkblue;
    border-bottom: 1em solid darkblue;
    width: 100vw;
    height: 400px;
    background-color:cornflowerblue;
    color: white;
}


//
